@using ApplicationCore.Entities
@using ApplicationCore.Interfaces
@inject IRepository<Product> ProductRepo
@{
    ViewData["Title"] = "Home Page";
}

<h1>Products (Test)</h1>

@foreach (var p in await ProductRepo.GetAllAsync())
{
    <p>
        <img src="~/img/products/@p.PictureUri" height="24" alt="product" />
        @p.Id - @p.Name - @p.Price.ToString("c2")
        </p>
}

@*
    TODO: 
    * Responsive Grid
    * Filter by category, brand
    * Pagination
*@